.build-display-synergies{
  color:gold;
  padding-bottom:1em;
  position:relative;
}
.synergy-header{
  margin:0px;
}
.synergies-expand-collapse{
  position:absolute;
  font-size:90%;
  right:5px;
  top:5px;

}

.patch-version{
  position:absolute;
  font-size:90%;
  left:5px;
  top:5px;

}
