.gold {
  color: orange;
}
.silver{
  color:silver;
}
.bronze{
  color:rgb(112, 26, 26);
}


.build-display-champion-card{
  position:relative;
  background-color: azure;/* 
  padding:4px 2px; */
  width:100%;/* 
  max-width:550px; */
  margin:10px auto;
  overflow-x:auto;
  overflow-y:hidden;
}
.edit-notice{
  position:absolute;/* 
  color:rgb(238, 208, 172); */
  color:darkblue;
  top:0;
  left:2px;
  backdrop-filter: blur(3px);

}

.build-buttons{/* 
  display:inline-block; */
  padding:2px;
  font-weight:bolder;
  color:darkblue;/* 
  background-color: rgb(221,221,221);
  backdrop-filter: blur(3px); */
}

.champion-simple-flex{
  position:relative;
  display:flex;/* 
  align-items:center;
  justify-content:space-around; */
  font-size:70%;
  height: 68px;/* 
  overflow-x:auto;
  overflow-y:auto; */

}

@media screen and (min-width:760px){
  .champion-simple-flex{
    font-size:100%;
  }
}

.champion-simple-flex>div{
  margin:auto;
}

.build-champ-icon{
  width:35px;
}
.build-display-champion-card p{
  margin:0;
  padding:0;
}

.build-display-champion-card .b1{
  flex: 1 1 24%;
}
.build-display-champion-card .b2{
  flex: 1 1 24%;
}
.build-display-champion-card .b3{
  flex: 1 1 24%;
}
.build-display-champion-card .b4{
  flex: 1 1 140px;
}


@media screen and (min-width:550px){
  .champion-simple-flex{
    height: 73px;
  }
}


@media screen and (min-width:760px){
  .champion-simple-flex{
    height: 90px;
  }
  .build-display-champion-card .b1{
    flex: 0 0 100px;
    max-height:90px;
  }
  .build-display-champion-card .b2{
    flex: 0 0 100px;
    max-height:90px;
  }
  .build-display-champion-card .b3{
    flex: 0 0 45px;
    max-height:90px;
  }
  .build-display-champion-card .b4{
    flex: 0 0 140px;
    max-height:90px;
  }
  .build-display-champion-card .build-stats-table-div{
    flex: 10  0 200px;
    overflow-y:auto;
    max-height:90px;
  }
  .build-display-champion-card .b5-remove{
    width:15px;
    flex: 0 0 15px;
  }
}

@media screen and (min-width:1599px){
  .champion-simple-flex{
    max-height: 90px;
  }
  .build-display-champion-card .b1{
    flex: 0 0 100px;
  }
  .build-display-champion-card .b2{
    flex: 0 0 100px;
  }
  .build-display-champion-card .b3{
    flex: 0 0 45px;
  }
  .build-display-champion-card .b4{
    flex: 0 0 140px;
  }
  .build-display-champion-card .build-stats-table-div{
    flex: 1 0 400px;
    overflow-y:auto;
  }
  .build-display-champion-card .build-stats-ultimate{
    flex: 3 0;
    overflow-y:auto;
    max-height: 90px;
  }
  .build-display-champion-card .build-stats-ultimate .ult-prop-list{
    overflow-y:auto;
  }
  .build-display-champion-card .build-stats-ultimate .build-ult-desc{
    overflow-y:auto;
  }
  .build-display-champion-card .b5-remove{
    width:15px;
    flex: 0 0 15px;
  }

}


.selecting-stars-box{
  display:flex;
  flex-wrap:wrap;
}
.selecting-stars{
  padding:5px 5px;
  margin:0px 20px;
}

/* .build-display-add-items{
} */
.build-display-item-grid-box{
  overflow-x:auto;/* 
  background-color:rgb(225, 243, 202); */
}
.build-display-item-grid{
  margin:auto;
}
.item-img-div{
  display:inline-block;
}

.build-item-icon{
  width:30px;
  margin-right:5px;
}
.grid-build-item-icon{
  
  width:26px;
  margin-right:4px;
}

.build-items-box{
  min-height:30px;
  margin:2px 0px;
}

@media screen and (min-width:550px){
  .build-item-icon{
    width:35px;
    margin-right:5px;
  }
  .grid-build-item-icon{
    
    width:35px;
    margin-right:5px;
  }
}



/* .b5-remove .remove-champ-button{
  font-size:70%;
  justify-self:right;
} */

.b5-remove{
  width:10px;
  height:100%;
  color:red;
  background-color:rgb(250, 250, 250);
  justify-self:right;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}
.b5-remove>div{
  font-weight:900;
}

/* .remove-champ-button{
  color:red;
  transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
} */

.top-right{
  position:absolute;
  top:0;
  right:0px;
}

















/* .build-display-card-expansion{
  position:relative;
  margin:5px;
  padding:5px;
  padding-top:17px;
  background-color:rgb(225, 243, 202);
  color:black;
  text-align:left;
} */
.build-display-card-expansion>section{
  
  margin:5px;
  padding:5px;
  border:1px solid grey;
}
.build-display-stats{
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;/* 
  justify-content:center;
  align-items:center; */
  overflow-x:auto;
}
.build-stats-table{
  border: 1px solid black;
  border-collapse: collapse;/* 
  flex-grow:1; */
  margin:auto;
  font-size:70%;
}
.build-stats-table td{
  border: 1px solid black;
  padding:2px;
}
.build-stats-table-div{
  overflow-x:auto;
  overflow-y:hidden;
}

@media screen and (min-width:900px){
  .build-stats-table{
    font-size:100%;
  }
}



.build-display-expanded-show-items{
  display:flex;
  flex-wrap:wrap;/* 
  align-items:center; *//* 
  justify-content:center; */
}

@media screen and (min-width: 760px){
  .build-champ-icon{
    width:50px;
  }
}


