.flex-box-complete-item-info{
  display:inline-flex;
  align-items:center;
  justify-content:center;
  margin:auto;
  text-align:left;

}

.item-info-box{
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.item-desc{
  font-size:90%;
  max-width:300px;
  padding:3px 3px;
}