.headertwo-undertext{
  font-size:80%;
  display:flex;
  font-weight:500;
  justify-content:space-evenly;
  align-items: center;
}

/* .current-build-page-new-build{
  
} */
.current-build-title{
  margin-top:0px;
  margin-bottom:0px;
  padding-top: 60px;
}

.current-build-display{
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.65),
    rgba(0, 0, 0, 0.65)
  ), url('../../img/backsplash.jpg');
  background-repeat: no-repeat;
  background-position: 50% 30%;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
.current-build-page-new-build{
  color:red;
  font-weight:550;
}

.current-build-page-save-build{
  color:darkblue;
  font-weight:550;
}

.new-or-save-box{
  margin:auto;
  width: 211px;
  display:flex;
  justify-content: space-between;
}