.build-display-in-dashboard{
  position:relative;
  display:flex;
  flex-wrap:wrap;
  align-items:top;
  background-color:antiquewhite;
}
.build-display-in-dashboard-box{
  position:relative;
  background-color:antiquewhite;
  margin:10px 0px;
}
.dashboard-build-top{
  position:relative;
  background-color:darkgoldenrod;
}
.load-and-share{
  display:inline-flex;/* 
  flex-direction: column; */
  justify-content: flex-start;
  align-items:center;
}
.dash-delete-build{
  position:absolute;
  top:0;
  right:0;
}
.build-share-link{ 
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
}
.dash-build-champ-details{
  position:relative;
}

.dash-build-champ-icon{
  width:60px;
}
.dash-box-champ-items{
  position:absolute;/* 
  width:60px; */
  height:20px;
  bottom:0;
  left:0;
  right:0;
  padding-left:3px;
}
.dash-build-item-icon{
  width:18px;
  height:18px;
  z-index:2;
}

@media screen and (max-width:420px){
  .dash-build-champ-icon{
    width:45px;
  }
  .dash-box-champ-items{
    height:15px;
  }
  .dash-build-item-icon{
    width:13px;
    height:13px;
  }
}