body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*{
  box-sizing:border-box;
}

html,body{
  position:relative;
  height:auto;
  min-height:100vh !important;
  text-align:center;
  margin:0;
  background-color:#636363/* 
  overflow-x:auto; */
}

.h2-nav-is-above{
  padding-top:30px;
}

.button-cursor{
  cursor:pointer;
}